.header {
    background: #fff;
}

.header__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1230px;
    margin: 0 auto;
}

.header__logo {
    position: relative;
    color: #8B7969;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 5px;
}
